<div id="new_message_form">
  <%= render 'layouts/errors', object: @message %>

  <%= form_for @message, remote: true do |f| %>
    <%= f.hidden_field :from_id, value: current_user.id if current_user %>
    <div class="form-group">
      <%= f.text_area :content, :placeholder => 'Content', rows: 3, cols: 30, id: "new_message_content" %>
    </div>
    <%= f.submit "Send", class: 'btn btn-custom btn-xs' %>
  <% end %>
</div>
