<%= render 'layouts/errors', object: @crawl %>

<%= form_for @crawl, :html => { :multipart => true } do |f| %>
  <div class='form-group'>
    <%= f.text_field :name, :placeholder => 'Name'  %>
    <select name="crawl[public]" id="crawl_public" data-role="slider">
      <option value="true">Public</option>
      <option value="false">Private</option>
    </select>
  </div>
  <div class="form-group">
    <%= f.text_area :description, :placeholder => 'Description', rows: 8, cols: 50 %>
  </div>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit(:class => "btn btn-custom") %>
<% end %>
