<%= render 'layouts/errors', object: @crawl %>

<%= form_for @crawl do |f| %>
  <div class='form-group'>
    <%= f.text_field :name, :placeholder => 'Name'  %>
    <%= radio_button_tag(:public, true, @crawl.public == true) %>
    <%= label_tag(:public_true, "Public") %>
    <%= radio_button_tag(:public, false, @crawl.public == false) %>
    <%= label_tag(:public_false, "Private") %>
  </div>
  <div class="form-group">
    <%= f.text_area :description, :placeholder => 'Description', rows: 8, cols: 50 %>
  </div>
  <%= f.hidden_field :user_id, value: current_user.id if current_user %>
  <%= f.submit "Hunt!", :class => "btn btn-custom" %>
<% end %>
