<%= content_for :title, @crawl.name %>

<%= render 'reports/modal' %>

<div class="row">
  <h1><%= @crawl.name %></h1>
  <div class="col-sm-4">
    <h5>Created by <%= link_to @crawl.user.name, @crawl.user %></h5>
    <h6>
      <% if current_user && @crawl.user_id == current_user.id %>
        <%= link_to "Edit Hunt", edit_crawl_path(@crawl) %>
      <% else %>
        <%= link_to "Report Content", "#", :data => {:toggle => "modal", :target => ".bs-example-modal-sm"} %>
      <% end %>
    </h6>
    <p><%= @crawl.description %></p>
    <h2>Here's the route!</h2>
      <ul class="no_bullet">
        <% @crawl.places.each do |place| %>
          <li>
            <% if current_user && @crawl.user_id == current_user.id %>
              <%= link_to "✗", place, method: "delete", id: "destroy", confirm: "Are you sure you want to delete #{place.name}?" %>
            <% end %>
            <%= link_to place.name, place %><br>
            <%= place.address %><br>
            <em><%= place.description %></em><br>
          </li>
          <br>
        <% end %>
        <span id="added_places"></span>
      </ul>
    <% if @crawl.places.count == 0 %>
      <h4 id="no_spots">No hunting spots yet...</h4>
    <% end %>
  </div>

  <div class="col-sm-8">
    <% if current_user %>
      <% if @crawl.user_id == current_user.id %>
        <%= link_to "Add Hunting Spots", new_place_path(crawl_id: @crawl.id), id: "new_place", class: "btn btn-custom btn-lg", remote: true %>
      <% elsif @completed_crawl.previously %>
        <h1>Completed!</h1>
      <% else %>
        <%= render 'completed_crawls/form' %>
        <span id="marked_complete"></span>
      <% end %>
    <% end %>
    <br>
    <br>
    <% if @crawl.places.count > 0 %>
      <div id="multi_markers" style='width: 400px; height: 400px;'></div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'multi_markers'}}, function(){
  markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>
