<%= content_for :title, @crawl.name %>

<h1><%= @crawl.name %>
<%= link_to "Edit Crawl", edit_crawl_path(@crawl), class: "btn btn-primary btn-xs" %></h1>

<h4>MAP OF HUNT GOES HERE</h4>

<h4><%= @crawl.description %></h2>

<%= link_to "Add Place", new_place_path, class: "btn btn-primary" %>
