<%= content_for :title, @user.name %>

<div class="row">
  <div class="col-sm-4">
    <h1><%= @user.name %></h1><%= link_to "Account Settings", edit_user_registration_path %>
    <p>
      <% if @user.full_size_pic %>
        <%= image_tag @user.full_size_pic, class: "avatar" %>
      <% else %>
        <%= image_tag "missing.jpg", class: "avatar" %>
      <% end %>
    </p>
  </div>
  <div class="col-sm-8">
    <h2><%= @user.name %>'s Scavenger Hunts</h2>
    <% if @user.crawls.length > 0 %>
      <% @user.crawls.each do |crawl| %>
        <p><%= link_to crawl.name, crawl %></p>
        <p><%= crawl.description %></p>
      <% end %>
      <% if current_user && @user.id == current_user.id %>
        <%= link_to "Add Hunt", new_crawl_path, class: "btn btn-custom" %>
      <% end %>
    <% else %>
      <p>You haven't added any yet!</p>
      <%= link_to "Get on it!", new_crawl_path, class: "btn btn-custom" %>
    <% end %>

    <% if @user.completed_crawls.length > 0 %>
      <h2><%= @user.name %>'s Completed Hunts</h2>
      <% @user.completed_crawls.each do |completed| %>
        <p><%= link_to completed.crawl.name, completed.crawl %></p>
        <p><%= completed.crawl.description %></p>
      <% end %>
      <% if current_user && @user.id == current_user.id %>
        <%= link_to "Find more scavenger hunts!", root_path %>
      <% end %>
    <% end %>
  </div>
</div>
