<div id="feedback_form">
  <%= form_tag({:action => :create}, {:remote => true}) do %>
    <div class="form-group">
      <% if current_user %>
        <%= hidden_field_tag :email, value: current_user.email %>
      <% else %>
        <%= email_field_tag :email, nil, placeholder: "Email" %>
      <% end %>
    </div>
    <div class="form-group">
      <%= text_area_tag :message, nil, :placeholder => 'What could we do better or worse?', rows: 8, cols: 50 %>
    </div>
    <%= submit_tag "Send feedback", :class => "btn btn-custom" %>
  <% end %>
</div>

