<%= render 'layouts/errors', object: @report %>

<%= form_for @report, :html => { :multipart => true } do |f| %>
  <div class="form-group">
    <%= f.text_area :description, :placeholder => 'Were there typos? or F-bombs? or racism/sexism/other-ism?', rows: 8, cols: 50 %>
  </div>
  <%= f.hidden_field :place_id, value: @place.id %>
  <%= f.hidden_field :user_id, value: current_user.id if current_user %>
  <%= f.submit(:class => "btn btn-custom") %>
<% end %>
