<div id="new_place_form">
<%= render 'layouts/errors', object: @place %>

  <%= form_for @place, :html => { :multipart => true }, remote: true  do |f| %>
    <div class='form-group'>
      <%= f.text_field :name, :placeholder => 'Name'  %>
    </div>
    <div class="form-group">
      <%= f.text_area :description, :placeholder => 'Description', rows: 4, cols: 40 %>
    </div>
    <div class="form-group">
      <%= f.text_field :address, :placeholder => 'Address' %>
    </div>
    <div class="form-group">
      <%= f.text_field :website, :placeholder => 'Website' %>
    </div>
    <%= f.hidden_field :crawl_id, value: @crawl.id if @crawl %>
    <%= f.submit(class: "btn btn-custom") %>
  <% end %>
<br>
</div>
