<%= content_for :title, @place.name %>

<div class="row">
  <div class="col-sm-4">
    <h1><%= @place.name %></h1>
    <h6><%= link_to "Report Content", new_report_path(id: @place.id) %></h6>


    <p><%= @place.description %></p>
  </div>
  <div class="col-sm-8" style='width: 400px;'>
    <div id="map" style='width: 400px; height: 400px;'></div>
  </div>
</div>
<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>
